.modal-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    min-width: 300px;
    min-height: 200px;
    background: white;
    border: 2px solid #6c6c6c;
    border-radius: 4px;
    color: black;
    transform: translate(-50%, -50%);

}

.modal-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    gap: 4px;
}

.header img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header * {
    display: flex;
}

.modal-container .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 4px;
    height: 56px;
}

.footer * {
    display: flex;
}

.btn-cancel {
    background-color: #dc3545;
    color: white;
}