#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#action {
    position: fixed;
    top: 0;
    right: 4px;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
}

#productList {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    background-color: #1a1a1a59;
    color: black;
    border: 2px solid #6c6c6c;
    border-radius: 4px;
    width: 200px;
    height: 250px;
}

.title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceDetails {
    display: flex;
    gap: 4px;
}

.priceDetails div {
    display: flex;
}