.productThumbnail {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 0;
}

.productThumbnail img {
    width: 100%;
    height: 100%;
}

.productThumbnail .rating {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 4px;
    align-items: center;
}

.productThumbnail .rating img {
    max-width: 20px;
    max-height: 20px;
    height: 100%;
    width: 100%;
}